<template>
    <lightning-card title="View Role Hierarchy" icon-name="standard:user">
        <lightning-layout>

            <lightning-layout-item size="2" padding="around-small">
                <template if:true={roleOptions}>
                    <lightning-combobox
                        name="rootRole"
                        label="Select Root Role"
                        value={selectedRootRole}
                        placeholder=""
                        options={roleOptions}
                        onchange={handleRootSelect} >
                    </lightning-combobox>
                </template>
            </lightning-layout-item>

            <lightning-layout-item size="10">

                <template if:true={isLoadingHierarchy}>
                    <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
                </template>

                <template if:false={isLoadingHierarchy}>
                    <lightning-tree items={displayedHierarchy} header="Roles"></lightning-tree>
                </template>
            </lightning-layout-item>

        </lightning-layout>

    </lightning-card>


</template>